.post {
  color: black;
}

#content {
  flex: 1;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem
}

#content article header {
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

#content article header h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: green
}

#content article section {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: white;
  text-align: justify;
}

body {
  background-color: #1A1A1D;
  color: white;
}

pre code {
  color: white;
  background-color: black;
  position: relative;
}

pre {
  background-color: black;
}

figure {
  text-align: center;
}

.post-category {
  color: #6F2232;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 22px;
  font-stretch: expanded;
}

header {
  color: white;
}

a {
  color: #6F2232;
}

a:hover {
  color: #950740;
  text-decoration: none;
}

.c-header {
  color: white;
  background-color: black;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-stretch: expanded;
  font-size-adjust: auto;
  font-size: 22px;
}

.c-summary {
  color: black;
  font-family: monospace;
  font-size-adjust: auto;
  font-size: 8;
  text-align: justify;
}

.index-nav-title{
  color: white;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-stretch: expanded;
  font-size-adjust: auto;
  font-size: 22px;
}

.index-nav-elements{
  color: #6F2232;
  font-family: monospace;
  font-weight: bold;
  font-stretch: expanded;
  font-size-adjust: auto;
  font-size: 18px;
}

.index-nav-elements:hover{
  color: #950740;
}

.main-jumbo{
  color: white;
  height: 400px;
  background-color: #1A1A1D;
  font-family: monospace;
  font-variant: small-caps;
  font-weight: bold;
  font-stretch: expanded;
  font-size-adjust: auto;
  font-size: 22px;
}

.nav-link{
  color: white;
}

.nav-link:hover{
  color: #950740;
}
